@supports (pointer-events: none){
	.ghostView{
		pointer-events: none;
		position: fixed;
		height: 100%;
		left: 0;
		overflow: hidden;
		top: 0;
		width: 100%;
		z-index: 9999;
	}
	.ghostView .ghost{
		cursor: pointer;
		font-size: 48px;
		line-height: 1; /*--reduce extra click area */
		opacity: 0.9;
		pointer-events: all;
		position: absolute;
		transform-box: fill-box;
		transform-origin: center;
		transition: opacity 1s, transform 1s, left 0.01s, top 0.01s;
	}
	.ghostView .ghost:hover{
		opacity: 0;
	}
	.ghostView .ghost[data-state='boo']{
		opacity: 1;
		transform: scale(5);
		z-index: 9999;
	}
}
